.cards__grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
}



.cards__grid_find {
    color: #000;
font-family: Inter;
font-size: 30px;
font-weight: 400;
letter-spacing: 0.6px;
}
.cards__grid_find-title {  
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 40px;
    /* margin-left: 158px; */
    text-align: center;
    margin-bottom: 30px;
}
.cards__grid_find-container {
    width: 600px;
height: 386px;
border: 3px solid #BB945F;
background: #FFF;
margin-left: 20px;
position: relative;
}
.cards__grid_find-containerInner {
    height: 272px;
    background: #BB945F;
    margin: 20px;
    position: relative;
}
.cards__grid_find-containerTitle {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    /* position: absolute; */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
}
.cards__grid_find-containerInput {
    width: 520px;
    height: 66px;
    border-radius: 10px;
background: #FFF;
margin-left: 20px;
margin-bottom: 20px;

color: #8E8E8E;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}
.cards__grid_find-containerButton {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
letter-spacing: 1px;
background-color: #fff;
margin-left: 179px;
}

.cards__grid_find-containerButton:hover {
    background-color: #BB945F;
    transition: 1s;
}

.cards__grid_get {
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: 68px 155px auto;
    justify-content: end;
}
.cards__grid_get-title {
    color: #000;
font-family: Forum;
font-size: 30px;
font-weight: 400;
letter-spacing: 0.6px;
}
.cards__grid_get-text {
    color: #000;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px; 
letter-spacing: 0.4px;
width: 456px;
text-align: right;
margin-right: 0px;
margin-top: 35px;
}
.cards__grid_get-buttons {
    display: flex;
flex-direction: row-reverse;

}
.cards__grid_get-button {
margin-top: 35px;
width: 75px;
height: 30px;
padding: 10px 0px;
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
font-family: Inter;
font-size: 10px;
font-weight: 700;
letter-spacing: 1px;
text-align: center;
margin-left: 20px;
}

.cards__grid_get-button:hover {
    background-color: #BB945F;
    transition: 1s;
}

@media (min-width: 600px) and (max-width: 1230px) { 
    .cards__grid {
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(2,auto);
        justify-content: center;
}
.cards__grid_get {
    justify-content: center;
    margin-right: 0px;
    grid-template-rows: 73px 85px auto;
}
.cards__grid_get-title {text-align: center;}
.cards__grid_get-text {text-align: center;
    width: 600px;
     height: 80px;
     margin-top: 0px;
    } 
.cards__grid_get-buttons {justify-content: center;}
.cards__grid_get-button {margin-left: 10px;margin-right: 10px;}
}